/* QUESTION NO 3 */
/* a {
    color: #640def2b;
    text-decoration: none; 

} */

/* QUESTION NO 7 */
/* 
 button.click{
    background-color: blue;
    color: white;
}
button.click:hover{
    background-color: black
}  */


/* QUESTION NO 8 */

/* button.hover:hover{
    background-color: rgb(233, 14, 33);
    color: white;
} */



/* Chapter Chapter 49, 50 (Reading and Setting field values) */

/* QUESTION NO 3 */

/* 
button.submitButton{
    background-color: blue;
    color: white;
} */


/* QUESTION NO 4 */

/* input.textinput{
    background-color: yellowgreen;
    color: blue;
} */






